<%- include('partials/header'); %>
    <title>
        <%- title %> - Kanishk Sachdeva</title>
    </head>

    <body>


        <nav class="navbar navbar-expand-lg nav-menu nav-menu-a">
            <div class="container">
                <button class="navbar-toggler ms-auto bg-dark navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <li class="active"><a class="nav-link" href="/">Home&nbsp;</a></li>
                        <li><a class="nav-link" href="about">About</a></li>
                        <li><a class="nav-link" href="resume">Resume</a></li>
                        <li><a class="nav-link" href="projects">Projects</a></li>
                        <li><a class="nav-link" href="services">Services</a></li>
                        <li><a class="nav-link" href="contact">Contact</a></li>
                    </div>
                </div>
            </div>
        </nav>


        <header id="header" class="header-tops">

            <div class="container">



                <h1><a href="/">Kanishk Sachdeva</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
                <h2>I'm a passionate <span id="changeText">Web designer</span> from India</h2>
                <div class="social-links">
                    <a href="https://twitter.com/kanu00047" class="twitter"><i class="icofont-twitter"></i></a>
                    <a href="https://www.facebook.com/kanu.ks37/" class="facebook"><i class="icofont-facebook"></i></a>
                    <a href="https://instagram.com/kanu00047" class="instagram"><i class="icofont-instagram"></i></a>
                    <a href="https://github.com/kskanu2020" class="github"><i class="icofont-github"></i></a>
                    <a href="https://www.linkedin.com/in/kanishk-sachdeva/" class="linkedin"><i class="icofont-linkedin"></i></a>
                </div>


                <!-- <nav class="nav-menu" id="myNav">
                    <ul>
                        <li class="active"><a href="#header">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="#resume">Resume</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contact">Contact</a></li>

                    </ul>

                </nav> -->






                <!-- .nav-menu -->




            </div>
            <script src="/javascripts/index.js"></script>
        </header>

















        <%- include('partials/footer'); %>