<nav class="navbar nav-menu navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav navbar-right justify-content-end" style="margin-left: auto!important;">


          <li class="nav-item"><a class="nav-link" href="/">Home&nbsp;</a></li>
          <li class="nav-item"><a class="nav-link" href="about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="resume">Resume</a></li>
          <li class="nav-item"><a class="nav-link" href="projects">Projects</a></li>
          <li class="nav-item"><a class="nav-link" href="services">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
          <li class="active nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>

        </ul>
      </div>
    </div>
  </nav>